/* 可口可乐字体 */
@font-face {
  font-family: 'Coca';
  src: local(''),
    url('./Coca.woff2') format('woff2');
  font-weight: bolder;
}

@font-face {
  font-family: 'Zaihu';
  src: local(''),
    url('./Zaihu.TTF') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Fzxk';
  src: local(''),
    url('./Fzxk.woff2') format('woff2');
  font-weight: normal;
}

:root {
  --themecolor: #333;
  --fontcolor1: #ccc;
  --fontcolor2: #888;
}


body {
  background-color: var(--themecolor);
}

/* 时辰 */
#shichen {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
  text-align: center;
  color: var(--fontcolor1);
  font-family: Coca;
  font-size: 3.6em;
}

/* 其他文字 */
#Totime {
  position: fixed;
  transform: translate(-50%, -50%);
  bottom: 25%;
  left: 50%;
  text-align: center;
  color: var(--fontcolor1);
  font-family: Coca;
  font-size: 2em;
}

/* 实时时间 */
#Ttime {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -0.3em;
  font-size: 0.6em;
  font-weight: 600;
  color: var(--fontcolor2, #999);
  text-align: center;
  font-family: Fzxk;
}